/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #ff6f61, #e25e58, #d64d50, #c93c49, #bb2c40);
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #fff;
  color: #ff6f61;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #e25e58;
  color: #fff;
}

/* Stili per il footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: center;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.social-links li a:hover {
  text-decoration: underline;
}
