/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9; /* Colore sfondo */
  color: #333; /* Testo principale */
}

/* Modalità scura */
body.dark-mode {
  background-color: #1a1a1a; /* Sfondo scuro */
  color: #fff; /* Testo bianco */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-image: url('images/header.jpg');
  background-size: cover; /* Imposta l'immagine di sfondo per coprire l'intero elemento */
  background-position: center; /* Centra l'immagine di sfondo */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  /*border-radius: 0 0 30px 30px;  Bordi arrotondati sopra */
}

header a {
  color: inherit; /* Usa il colore ereditato dal genitore */
  text-decoration: none; /* Rimuove la sottolineatura */
}

header h1 {
  font-size: 3.5em; /* Dimensione del testo */
}

nav {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.25), rgba(128, 128, 128, 0));
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #0056b3; /* Colore link al passaggio del mouse */
}

/* Modalità scura per i link di navigazione */
body.dark-mode nav ul li a {
  color: #fff; /* Colore del testo per la modalità scura */
}

section {
  padding: 20px 0;
  text-align: center;
}

section:not(:last-child) {
  margin-bottom: 20px; /* Aggiungi un margine inferiore */
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #222; /* Nero */
}

section p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #555; /* Grigio */
}

/* Sezione Programmazione */
#programming {
  background-color: #f0f0f0; /* Colore di sfondo leggero */
  padding: 40px 0;
}

#programming h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #222;
}

#programming p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #555;
}

.programming-container {
  display: flex;
  flex-wrap: wrap; /* Permette agli elementi di avvolgersi */
  justify-content: center; /* Centra gli elementi all'interno del contenitore */
  gap: 20px; /* Spazio tra gli elementi */
}

.programming-wrapper {
  flex: 0 1 calc(50% - 20px); /* Ogni elemento occupa il 50% della larghezza meno il margine */
  box-sizing: border-box; /* Include padding e bordo nella larghezza totale */
  margin-bottom: 20px; /* Margine verticale tra le righe */
  text-align: center; /* Centra il testo */
}

.programming-wrapper img {
  width: 250px; /* Larghezza fissa delle immagini */
  height: 150px ; /* Altezza automatica proporzionale alla larghezza */
  border-radius: 10px; /* Bordi arrotondati */
  transition: transform 0.3s ease; /* Transizione al passaggio del mouse */
}

.programming-wrapper p {
  margin-top: 10px; /* Spazio tra l'immagine e il testo */
  font-size: 1.2em;
  color: #333; /* Colore del testo */
}

/* Effetto hover sulle immagini */
.programming-wrapper img:hover {
  transform: scale(1.1); /* Ingrandisce l'immagine al passaggio del mouse */
}

footer {
  background-color: #222; /* Arancione */
  color: #fff; /* Testo bianco */
  text-align: center;
  padding: 20px 0;
  /*border-radius: 30px 30px 0 0; Bordi arrotondati sopra */
}

.music-container {
  display: flex;
  flex-wrap: wrap; /* Avvolgimento contenuti */
  justify-content: center; /* Centratura orizzontale */
}

.music-wrapper {
  flex: 0 1 calc(50% - 20px); /* Larghezza fissa del 50% meno il margine */
  margin: 10px; /* Margine */
  position: relative; /* Posizione relativa */
}

.music-wrapper img {
  width: 100%; /* Occupa tutta la larghezza del contenitore */
  height: auto; /* Altezza automatica proporzionale alla larghezza */
  border-radius: 10px;
  transition: transform 0.3s ease; /* Aggiunta transizione */
}

.music-wrapper img:hover {
  transform: scale(1.05); /* Ingrandisce l'immagine del 10% al passaggio del mouse */
}

/* Stile per il contenitore dei media */
.media-container {
  display: flex;
  flex-wrap: wrap; /* Avvolgimento contenuti */
  justify-content: center; /* Centratura orizzontale */
}

/* Stile per ciascun media */
.media-wrapper {
  flex: 1; /* Distribuzione spazio */
  margin: 10px; /* Margine */
  position: relative; /* Posizione relativa */
}

/* Stile per le immagini */
.media-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Stile per i video */
.media-wrapper video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  object-fit: cover;
}

/* Effetto hover per i video */
.media-wrapper video:hover {
  transform: scale(1.05);
}

/* Nascondi i controlli del video */
.media-wrapper video::-webkit-media-controls {
  display: none !important;
  visibility: hidden;
}

#contact {
  text-align: center;
  padding: 50px 0;
  background-color: #f0f0f0; /* Colore sfondo */
}

#contact img {
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  transition: transform 0.3s ease; /* Aggiunta transizione */
}

#contact img:hover {
  transform: scale(1.1); /* Ingrandisce leggermente l'icona al passaggio del mouse */
}

/* Rimuovi i pallini dall'elenco */
.social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

/* Media Query per Dispositivi Mobili */
@media only screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px; /* Spazio inferiore tra gli elementi del menu */
  }

  section h2 {
    font-size: 2em; /* Riduci la dimensione del titolo */
  }

  section p {
    font-size: 1em; /* Riduci la dimensione del testo */
    margin-bottom: 20px; /* Riduci il margine inferiore */
  }

  /* Stile per le immagini di programmazione in modalità mobile */
  .programming-wrapper {
    flex: 0 1 calc(100% - 20px); /* Larghezza piena per mobile */
  }

  .music-wrapper {
    flex: 0 1 calc(100% - 20px); /* Larghezza piena per mobile */
  }

  footer {
    padding: 20px 0;
  }

  .social-links li {
    margin-right: 5px; /* Riduci lo spazio tra i link social */
  }
}
